.card{
    padding-left: 5px;

    &__lista{

        padding-left: 5px;
        background-color: rgb(212, 212, 177);
    }

    &__datos{

    list-style: none;
    font-weight: bold;
    }
}
nav{
    display: flex;
}
ul.opciones {
    list-style: none;
    font-size:0; 
    display: flex;
    align-items: center;
    cursor: pointer;
}
.opciones li a{
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 30px;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color:brown ;
    font-weight: bold;
    transform: scale(1,1);
    transition: all 1s;
}
.opciones li:hover{
    background-color: rgb(241, 241, 158);
    box-shadow: 5px 5px;
}
ul li:hover ul {
    display:block;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-right: 140px;
    height: 300px;
    margin-left: 30px;
}
header img{
    width: 300px;
    height: 300px;
    border-radius: 50%; 
}